html {
    position: relative;
    /* not entirely sure if the following is necessary */
    min-height: 100%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #CA4771;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #CA4771;
}

h3 {
    color: #59dbf8;
    font-size: 1.65em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.navbar {
    background: #1b1b1bc5;
    top: 0;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

/* #7865B5 */

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #CA4771;
    transition: 0.2s;
}

.nav-item:hover::after {
    width: 100%;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #4EDA99;
}

.dropdown-item:active {
    color: #212529;
}

.dropdown-item:hover {
    background: #CA4771;
}

body {
    background-color: #000000;
    /* background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%237f3b79' fill-opacity='0.60'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%237f3b79' fill-opacity='.52' fill-rule='evenodd'%3E%3Cpath fill='%232B3927' d='M26 16h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M84 16h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M26 17h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M84 17h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M22 18h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm11 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M80 18h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm9 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M22 19h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm11 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M80 19h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm9 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M20 20h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm19 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M78 20h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm17 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M20 21h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm19 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M78 21h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm17 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M20 22h1v1h-1zm1 0h1v1h-1zm23 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M78 22h1v1h-1zm1 0h1v1h-1zm21 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M20 23h1v1h-1zm1 0h1v1h-1zm4 0h1v1h-1zm5 0h1v1h-1zm5 0h1v1h-1zm5 0h1v1h-1zm4 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M78 23h1v1h-1zm1 0h1v1h-1zm21 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M18 24h1v1h-1zm1 0h1v1h-1zm6 0h1v1h-1zm1 0h1v1h-1zm3 0h1v1h-1zm1 0h1v1h-1zm5 0h1v1h-1zm1 0h1v1h-1zm3 0h1v1h-1zm1 0h1v1h-1zm6 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M76 24h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M18 25h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M76 25h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M18 26h1v1h-1zm1 0h1v1h-1zm8 0h1v1h-1zm1 0h1v1h-1zm9 0h1v1h-1zm1 0h1v1h-1zm8 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M76 26h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M18 27h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M76 27h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M18 28h1v1h-1zm1 0h1v1h-1zm6 0h1v1h-1zm1 0h1v1h-1zm3 0h1v1h-1zm1 0h1v1h-1zm5 0h1v1h-1zm1 0h1v1h-1zm3 0h1v1h-1zm1 0h1v1h-1zm6 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M76 28h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M18 29h1v1h-1zm1 0h1v1h-1zm6 0h1v1h-1zm5 0h1v1h-1zm5 0h1v1h-1zm5 0h1v1h-1zm6 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M76 29h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M18 30h1v1h-1zm1 0h1v1h-1zm27 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M76 30h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M18 31h1v1h-1zm1 0h1v1h-1zm27 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M76 31h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M18 32h1v1h-1zm1 0h1v1h-1zm27 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M76 32h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M18 33h1v1h-1zm1 0h1v1h-1zm27 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M76 33h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M18 34h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm23 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M76 34h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm21 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M18 35h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm23 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M76 35h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm21 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M20 36h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm15 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M78 36h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm13 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M20 37h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm15 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M78 37h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm13 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M24 38h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M82 38h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm5 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M24 39h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M82 39h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm5 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M28 40h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M86 40h1v1h-1zm1 0h1v1h-1zm5 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M28 41h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M86 41h1v1h-1zm1 0h1v1h-1zm5 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M22 42h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M80 42h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm5 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%232B3927' d='M22 43h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23301F1F' d='M80 43h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm5 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M28 74h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M84 74h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M28 75h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M84 75h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M24 76h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm9 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M80 76h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm11 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M24 77h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm9 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M80 77h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm11 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M22 78h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm17 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M78 78h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm19 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M22 79h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm17 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M78 79h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm19 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M22 80h1v1h-1zm1 0h1v1h-1zm21 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M78 80h1v1h-1zm1 0h1v1h-1zm23 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M22 81h1v1h-1zm1 0h1v1h-1zm21 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M78 81h1v1h-1zm1 0h1v1h-1zm4 0h1v1h-1zm5 0h1v1h-1zm5 0h1v1h-1zm5 0h1v1h-1zm4 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M20 82h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M76 82h1v1h-1zm1 0h1v1h-1zm6 0h1v1h-1zm1 0h1v1h-1zm3 0h1v1h-1zm1 0h1v1h-1zm5 0h1v1h-1zm1 0h1v1h-1zm3 0h1v1h-1zm1 0h1v1h-1zm6 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M20 83h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M76 83h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M20 84h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M76 84h1v1h-1zm1 0h1v1h-1zm8 0h1v1h-1zm1 0h1v1h-1zm9 0h1v1h-1zm1 0h1v1h-1zm8 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M20 85h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M76 85h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M20 86h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M76 86h1v1h-1zm1 0h1v1h-1zm6 0h1v1h-1zm1 0h1v1h-1zm3 0h1v1h-1zm1 0h1v1h-1zm5 0h1v1h-1zm1 0h1v1h-1zm3 0h1v1h-1zm1 0h1v1h-1zm6 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M20 87h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M76 87h1v1h-1zm1 0h1v1h-1zm6 0h1v1h-1zm5 0h1v1h-1zm5 0h1v1h-1zm5 0h1v1h-1zm6 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M20 88h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M76 88h1v1h-1zm1 0h1v1h-1zm27 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M20 89h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M76 89h1v1h-1zm1 0h1v1h-1zm27 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M20 90h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M76 90h1v1h-1zm1 0h1v1h-1zm27 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M20 91h1v1h-1zm1 0h1v1h-1zm25 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M76 91h1v1h-1zm1 0h1v1h-1zm27 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M20 92h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm21 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M76 92h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm23 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M20 93h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm21 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M76 93h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm23 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M22 94h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm13 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M78 94h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm15 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M22 95h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm13 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M78 95h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm15 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M26 96h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm5 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M82 96h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M26 97h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm5 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M82 97h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M30 98h1v1h-1zm1 0h1v1h-1zm5 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M86 98h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M30 99h1v1h-1zm1 0h1v1h-1zm5 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M86 99h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M24 100h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm5 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M80 100h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23273934' d='M24 101h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm5 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3Cpath fill='%23332B3D' d='M80 101h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm7 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1zm1 0h1v1h-1z'/%3E%3C/g%3E%3C/svg%3E%0A");
    margin-bottom: 327px;
}

.wraperJournal {
    /* width: 90%; */
    max-width: 1100px;
    margin: 0 auto;
}

.Content-Entry {
    background: #CA4771;
    background-color: #000000;
}

article {
    background-color: #1b1b1bb7;
    box-sizing: border-box;
    padding: 1em;
    margin: 1em auto;
    border-radius: 25px;
    /* max-width: 100%; */
    font-size: 17px;
}

article p {
    /* color: #4EDA99; */
    /* Secondary Color */
    color: #4EDA99;

    display: block;
    text-align: justify;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.meta-title {
    text-align: center;
}

.meta-date {
    text-align: right;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background-color: #ffffff86; */
    /* height: auto; */
}

.social-icon ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-top {
    /* display: inline-block; */
    /* background-color: #5443a06b;

     */
    background-color: #30285559;

    text-align: center;
}

.footer-bot {
    background-color: #302855cb;


    text-align: center;
}

.footer-bot p {
    color: #ffffff;
    font-size: 14px;
    padding-top: 2px;
    font-variant-caps: titling-caps;
    display: inline-block;
    margin-bottom: 0px;
}


img {
    max-width: 100%;
    height: auto;
}

/* Custom stuff */
.ListHolder {
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
}

.ListHolder ul li {
    font-family: 'Open Sans', sans-serif;
    text-align: center;

    font-weight: 400;
    border: none;
    color: #4EDA99;
    margin-left: -25px;
    font-size: 1.2rem;
    /* margin-top: 12px; */
    /* font-size: 4vmin 2vmax auto; */
    /* font-size: 1.8vmax; */
    background-color: transparent;
    list-style: none;
}