/* @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"); */

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

h2 {
    font-size: 20px;
    color: #4EDA99;
}

h3 {
    margin-top: 10px;
    font-size: 150%;
    text-align: center;
    color: #59dbf8;
}

.typewriter h3 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; */
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em; */
    /* Adjust as needed */
    animation: typing 2.5s steps(60, end), step-end infinite;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

.navbar {
    background: #1b1b1bc5;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

/* #7865B5 */

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #CA4771;
    transition: 0.2s;
}

.nav-item:hover::after {
    width: 100%;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #4EDA99;
}

.dropdown-item:active {
    color: #212529;
}

.dropdown-item:hover {
    background: #CA4771;
}

.blogSection {
    background: #CA4771;
    max-width: 100%;
}

.navbar-brand {
    float: none;
}

.btn-lg {
    background-color: #CA4771;
}

.infoDiv {
    color: #4EDA99;
}

.p {
    color: #4EDA99;
}

.impressive {
    /* background: tomato; */
    max-width: 100%;

}

body {
    background-color: #42484e;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%237f3b79' fill-opacity='0.60'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /* background-image: url("/plus2.svg") */
}

@media screen and (min-width: 2241px) {
    .navbar-brand img {
        width: 760px;
    }
}

@media screen and (max-width: 1440px) {
    .navbar-brand img {
        width: 300px;
    }
}