//footer.scss

// Variables
$footer-bg: rgba(26, 24, 31, 0.66);
$footer-text: #ffffff;
$footer-link: #4caf50;
$footer-link-hover: #235025;

.footer {
  margin-top: auto;
  width: 100%;
  background-color: $footer-bg;
  color: $footer-text;
  padding-top: 0.25rem;
  text-align: center;
}

.footer-content {
  margin: 0 auto;
  display: flex;
  flex-direction: row; // Changed to row
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  gap: 1rem; // Added gap between elements
}

.footer-content p {
  margin: 0;
}

.social-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.social-links li {
  margin: 0;
}

.social-links a {
  color: $footer-link;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social-links a:hover {
  color: $footer-link-hover;
}

.mastodon-button {
  display: flex;
  align-items: center;
}

.social-logo {
  width: 20px;
  height: 20px;
}

// Responsive adjustments
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .social-links {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }
}
