$color-pallette-1: #09000e;
$color-pallette-2: #2b003f;
$text-color-1: rgba(139, 127, 145);
$text-color-2: wheat;

body {
  background-color: $color-pallette-1;
  // background-image: $bg-Image-1;
}

p {
  color: $text-color-2;
}

h1 {
  color: $text-color-2;
}

h2 {
  color: $text-color-2;
}

h3 {
  color: $text-color-2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.header {
  background-color: #343a40;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.grid-item {
  background-color: #6c757d;
  color: #fff;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
}