@import './global.scss';

.header {
  font-size: xx-large;
  color: #ad3131;
}

h1 {
  color: whitesmoke;
  text-align: center;
  font-size: 220px;
}

article {
  p {
    color: white !important;
  }

  strong {
    color: white !important;
  }
}

.mainContent {
  background-color: #bebebe3f;
}

.errorMsg {
  font-size: large;
  color: green;
}