.cardImg {
  max-width: 100%;
  max-height: 100%;
  border-color: 'red';
  border-radius: 50%;
  color: red;
  font-display: block;
}

.titleStyle {
  // color: 'white',
  background-color: #211928ca;
}